#insurances_index_forms
  .container_16
    .grid_8
      %h2 Novo cliente
      = form_for @client do |form|
        %table
          %tr
            %td= form.label :name
            %td= form.text_field :name
          %tr
            %td= form.label :email
            %td= form.email_field :email
          %tr
            %td
            %td= form.submit "Inserir novo cliente"
 
#container
  .container_16
    .grid_16= link_to "Exportar CSV", clients_path(:format => :csv)
    .grid_16
      %table.data
        %tr
          %th Rank
          %th= Client.human_attribute_name(:name)
          %th= Client.human_attribute_name(:email)
          %th= Client.human_attribute_name(:total_income)
          %th
        - @clients.each_with_index do |client, index|
          %tr
            %td
              %strong= "##{index + 1}"
            %td= client.name
            %td= client.email
            %td
              %strong= number_to_currency client.total_income
            %td= link_to("Editar", edit_client_path(client), :class => "icon edit")
