!!!
%html
  %head
    %title Hfm
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag '960.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Leckerli+One'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "https://www.google.com/jsapi"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27626466-2']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  %body{"data-controller" => controller.controller_name, "data-action" => controller.action_name}
    - if signed_in?
      #menu
        .container_16
          .grid_8
            = link_to "Seguros", root_path
            = link_to "Clientes", clients_path
            = link_to "Companhias", companies_path
            = link_to "Sair", session_path(session[:user_id]), :method => :delete
          .grid_8
            - if notice
              #notice= notice
            - else
              = current_user.name
    = yield
